{% extends 'CMCoreBundle::layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock title %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmcore/js/previewContact.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        {% set nbContact = 1 %}
        {% for contact in listContact %}
            {% if nbContact == 1 %}
                <div class="row">
                    <section class="previewContact" data-contactid="">
                    <article class="well">
                        <div class="media">
                            <div class="media-left media-top">
                                <img src="" class="media-object img-circle avatarContact" alt="Avatar Contact">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading previewNamesContact"></h3>
                                <ul>
                                    <li class="previewBirthdateContact"><span class="strong">Date de naissance :</span> <span class="content"></span></li>
                                    <li class="previewEmailContact"><span class="strong">Email :</span> <span class="content"></span></li>
                                    <li class="previewAdresseContact"><span class="strong">Adresse :</span> <span class="content"></span></li>
                                    <li class="previewTelephoneContact"><span class="strong">Téléphone :</span> <span class="content"></span></li>
                                    <li class="previewSiteWebContact"><span class="strong">Site Web :</span> <span class="content"></span></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </section>
                    <section class="listContact">
            {% endif %}
                        <article>
                            <div class="col-sm-3" id="contact{{ contact.id }}">
                                <div class="thumbnail">
                                    <img src="http://www.w3schools.com/bootstrap/img_avatar1.png" class="img-responsive img-circle avatarContact" alt="Avatar Contact">
                                    <div class="caption text-center">
                                        <h3 class="previewNames">{{ contact.prenom }} {{ contact.nom }}</h3>
                                        <div class="btn-group shortActionContact  btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default btnViewContact"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md"> Voir</span></button>
                                            <a href="{{ path('cm_core_edit_contact', {'idContact': contact.id}) }}" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md"> Modifier</span></a>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ contact.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="hidden-xs hidden-sm hidden-md"> Supprimer</span></button>
                                        </div>
                                        <div class="is_hidden">
                                            <ul>
                                                <li class="birthdateContact">{{ contact.birthdate|date('d/m/Y') }}</li>
                                                <li class="emailContact">{{ contact.email }}</li>
                                                <li class="adresseContact">{{ contact.adresse }}, {{ contact.postal }}, {{ contact.ville }}</li>
                                                <li class="telephoneContact">{{ contact.telephone }}</li>
                                                <li class="siteWebContact">{{ contact.webSite }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ contact.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="{{ path('cm_core_delete_contact', {idContact: contact.id}) }}">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation de suppréssion</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Etes-vous sûr de vouloir supprimer la fiche contact de PRENOM NOM ?</p>
                                                <div class="alert alert-danger" role="alert">
                                                    <p>Attention cette action est irréversible !</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
            {% if nbContact == 4 or listContact|length == nbContact %}
                    </section>
                </div>
                {% set nbContact = 1 %}
            {% else %}
                {% set nbContact = nbContact + 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}
