{% extends 'CMCoreBundle::layout.html.twig' %}

{% block title %}
    Ajouter un contact - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cmcore/css/bootstrap-datepicker.min.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmcore/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/cmcore/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('bundles/cmcore/js/addContact.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        <div class="row">
            <section>
                <div class="col-xs-12 well">
                    {{ form_start(formAddContact, {'attr': {'class': 'form-horizontal'}}) }}
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Ajouter un contact</legend>
                            {{ form_errors(formAddContact) }}
                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(formAddContact.nom, "Nom", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.nom, {'attr': {'class': 'form-control input-md', 'placeholder': 'Nom du contact'}}) }}
                                </div>

                                {{ form_label(formAddContact.prenom, "Prénom", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.prenom, {'attr': {'class': 'form-control input-md', 'placeholder': 'Prénom du contact'}}) }}
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(formAddContact.email, "Email", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.email, {'attr': {'class': 'form-control input-md', 'placeholder': 'Email du contact'}}) }}
                                </div>

                                {{ form_label(formAddContact.birthdate, "Date de naissance", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.birthdate, {'attr': {'class': 'form-control input-md datepicker', 'placeholder': 'Date de naissance du contact'}}) }}
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(formAddContact.adresse, "Adresse", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.adresse, {'attr': {'class': 'form-control input-md', 'placeholder': 'Adresse du contact'}}) }}
                                </div>

                                {{ form_label(formAddContact.postal, "Code postal", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.postal, {'attr': {'class': 'form-control input-md', 'placeholder': 'Code postal du contact'}}) }}
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(formAddContact.ville, "Ville", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.ville, {'attr': {'class': 'form-control input-md', 'placeholder': 'Ville du contact'}}) }}
                                </div>

                                {{ form_label(formAddContact.telephone, "Téléphone", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-4">
                                    {{ form_widget(formAddContact.telephone, {'attr': {'class': 'form-control input-md', 'placeholder': 'Téléhpone du contact'}}) }}
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(formAddContact.webSite, "Site web", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                                <div class="col-md-10">
                                    {{ form_widget(formAddContact.webSite, {'attr': {'class': 'form-control input-md', 'placeholder': 'Site web du contact'}}) }}
                                </div>
                            </div>

                            <button class="btn btn-success pull-right" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter</button>

                            {{ form_rest(formAddContact) }}
                        </fieldset>
                    {{ form_end(formAddContact) }}
                </div>
            </section>
        </div>
    </div>
{% endblock body %}
