{% extends 'CMCoreBundle::layout.html.twig' %}

{% block title %}
    Modifier un contact - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cmcore/css/bootstrap-datepicker.min.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmcore/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/cmcore/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('bundles/cmcore/js/addContact.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        <div class="row">
            <section>
                <div class="col-xs-12 well">
                    {{ form_start(formEditContact, {'attr': {'class': 'form-horizontal'}}) }}
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Ajouter un contact</legend>
                        {{ form_errors(formEditContact) }}
                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_label(formEditContact.nom, "Nom", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.nom, {'attr': {'class': 'form-control input-md', 'placeholder': 'Nom du contact', 'value': contact.nom}}) }}
                            </div>

                            {{ form_label(formEditContact.prenom, "Prénom", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.prenom, {'attr': {'class': 'form-control input-md', 'placeholder': 'Prénom du contact', 'value': contact.prenom}}) }}
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_label(formEditContact.email, "Email", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.email, {'attr': {'class': 'form-control input-md', 'placeholder': 'Email du contact', 'value': contact.email}}) }}
                            </div>

                            {{ form_label(formEditContact.birthdate, "Date de naissance", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.birthdate, {'attr': {'class': 'form-control input-md datepicker', 'placeholder': 'Date de naissance du contact', 'value': contact.birthdate|date('d/m/Y')}}) }}
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_label(formEditContact.adresse, "Adresse", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.adresse, {'attr': {'class': 'form-control input-md', 'placeholder': 'Adresse du contact', 'value': contact.adresse}}) }}
                            </div>

                            {{ form_label(formEditContact.postal, "Code postal", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.postal, {'attr': {'class': 'form-control input-md', 'placeholder': 'Code postal du contact', 'value': contact.postal}}) }}
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_label(formEditContact.ville, "Ville", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.ville, {'attr': {'class': 'form-control input-md', 'placeholder': 'Ville du contact', 'value': contact.ville}}) }}
                            </div>

                            {{ form_label(formEditContact.telephone, "Téléphone", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-4">
                                {{ form_widget(formEditContact.telephone, {'attr': {'class': 'form-control input-md', 'placeholder': 'Téléhpone du contact', 'value': contact.telephone}}) }}
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            {{ form_label(formEditContact.webSite, "Site web", {'label_attr': {'class': 'col-md-2 control-label'}} ) }}
                            <div class="col-md-10">
                                {{ form_widget(formEditContact.webSite, {'attr': {'class': 'form-control input-md', 'placeholder': 'Site web du contact', 'value': contact.webSite}}) }}
                            </div>
                        </div>

                        <button class="btn btn-success pull-right" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</button>

                        {{ form_rest(formEditContact) }}
                    </fieldset>
                    {{ form_end(formEditContact) }}
                </div>
            </section>
        </div>
    </div>
{% endblock body %}
